/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .author-experience {
    width: 240px;
    height: 97px;
  }
  .author-experience.approach-action {
    height: 129px;
    width: 242px;
  }
  .author-experience.approach-action .experience {
    padding: 5px 14px;
  }
 
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area.sticky {
    padding: 15px 0;
    padding-bottom: 0;
  }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-area.sticky {
    padding: 15px 0;
    padding-bottom: 0;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  .header-area.sticky {
    padding: 15px;
    padding-bottom: 0;
  }
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
